<!DOCTYPE html>
<html>
<head>
	<title>MI-chan | Catalogue</title>
</head>
<body>
	<!-- just to test that routes work -->
	<ul>
		<%for(var i = 0; i < content.length; i++) {%>
		<li><%=content[i]%></li>
		<%}%>
	</ul>
</body>
</html>