<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta charset="UTF-8">
	<link rel="icon" href="/favicon.png" type="image/png">
	<link href="/stylesheets/faq.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="page">
		<div id="logo">
			<a href="/"><img src="/mi.png"></a>
		</div>
		<div id="name">MIchan!</div>
		<div id="desc">MIchan is a 4chan clone written using node.js, MySQL and jQuery, by Sebastian aka Sebskyo</div>
		<hr>
		<div class="entry">
			Q: How do I post?<br>
			A: You need a user to post, even anonymously.
		</div>
		<div class="entry">
			Q: How do I create a user?<br>
			A: Navigate to the user page, then click "signup".
		</div>
		<div class="entry">
			Q: I still can't post?<br>
			A: Make sure you've written something into the text area.
		</div>
		<div class="entry">
			Q: How do I create a new thread?<br>
			A: An image is required for new threads.
		</div>
		<hr>
		<div>Rules:</div>
		<ol>
			<li>Type your first OR last name in the "irl name" field, so we know who you are.</li>
			<li>Keep content to their relevant threads, don't create two threads for the same thing.</li>
			<li>NSFW content is allowed but the OP image may not be NSFW.</li>
			<li>NSFL and illegal content is absolutely prohibited.</li>
			<li>Use common sense.</li>
		</ol>
	</div>
</body>
</html>