<!DOCTYPE html>
<html>
<head>
	<title>an thread</title> <!-- insert thread subject here -->
</head>
<body>
	<!-- route test -->
	<ul>
		<%for(var i = 0; i < content.length; i++) {%>
		<li><%=content[i];%></li>
		<%}%>
	</ul>
</body>
</html>