<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta charset="UTF-8">
	<script src="/javascripts/jquery-2.2.1.js"></script>
	<script src="/javascripts/thread.js"></script>
	<link href="/favicon.png" type="image/png" rel="icon">
	<link href="/stylesheets/thread.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="page">

	</div>
</body>
</html>