<!DOCTYPE html>
<html>
<head>
	<title>New user</title>
	<meta charset="UTF-8">
</head>
<body>
	<form enctype="application/x-www-form-urlencoded" method="post">
		Username:
		<input type="text" id="username" name="username"><br>
		Name:
		<input type="text" id="irlname" name="irlname"><br>
		<button type="submit">SUBMIT</button>
	</form>
</body>
</html>