@font-face {
	font-family: font;
	src: url(/font.tff);
}
body {
	background-color: #f3f3f3;
	font-family: font;
	font-size: 16px;
	color: #333;
}

#page {
	margin-left: 15%;
	margin-bottom: 5%;
}
#postlist {
	margin-top: 24px;
}
.post {
	background-color: #fdfdfd;
	box-shadow: 0px 0px 2px #7d7d7d;
	width: 1040px;
	padding: 8px;
	margin-bottom: 16px;
	line-height: 125%;
	clear: both;
	display: table;
	transition: background-color 0.4s, box-shadow 0.4s;
}
.focussed {
	box-shadow: 0px 0px 8px #7d7d7d;
	background-color: #fff;
}
.info {
	margin-bottom: 4px;
}
img {
	max-width: 128px;
	max-height: 128px;
	margin-right: 4px;
	float: left;
	transition: max-width 0.2s, max-height 0.2s;
}
img:hover {
	max-width: 256px;
	max-height: 256px;
}
.user {
	font-weight: bold;
	color: #008040 !important;
	text-decoration: none;
}
.subject {
	font-weight: bold;
	color: #e60000;
}
.idlink, .idlink:visited {
	color: #333;
}
.idlink:hover {
	color: #e60000;
}
.quote, .quote:visited {
	color: #e60000;
	text-decoration: none;
}
.quote:hover {
	text-decoration: underline;
}
a, a:visited {
	text-decoration: none;
	color: #1f66e5;
}
a:hover {
	text-decoration: underline;
}
.navlink {
	color: #333 !important;
}
.green {
	color: #008040;
}
