body {
	background-color: #adbce6;
}
#postlist {
	margin-top: 16px;
}
.post {
	background-color: #99ace0;
	width: 1024px;
	margin-bottom: 8px;
}
.user {
	font-weight: bold;
	color: green;
}
.subject {
	font-weight: bold;
	color: red;
}
.idlink {
	color: black;
	text-decoration: none;
}
.idlink:hover {
	color: red;
	text-decoration: underline;
}
.green {
	color: green;
}
.quote {
	color: red;
	text-decoration: underline;
}